.card2
{
    margin-left: 42%;
    margin-top: -29.5%;
    float: left;
    display: flex;
    justify-content: center;
    align-items:  center;
    min-height: 300px;
    width: 60%;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    background: white;
    box-shadow: 16px 16px 32px #c8c8c8,
    -16px -16px -32px #fefefe;
}
.card1
{
margin-left: 22%;
    display: flex;
    justify-content: center;
    align-items:  center;
    min-height: 700px;
    width: 60%;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    background: #5b5b5d;
    box-shadow: 16px 16px 32px #c8c8c8,
    -16px -16px -32px #fefefe;
  
  
    
}
.inputBox1  {
position: relative;
width: 250px;
}
.inputBox1 input
{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: black ;
    

    size: 1em;

    border-left: 2px solid #000;
    border-bottom: 2px solid black;
    transition: 0.1s;  
 
   
}
.inputBox1 span{
   margin-top: -32px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left:  15px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
}
.inputBox1 input:valid~span,
.inputBox1 input:focus~span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #A51215;
    letter-spacing: 0.2 em;
    color: white;
    border: 2px;

} 
.inputBox1 input:valid,
.inputBox1 input:focus
{
border: 2px solid #000;    
}
.button123
{
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    transition: 0,5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;

}
.button123:hover{
    background-color: #000;
    color: white;

}

.sprawdzanie
{
    width: 25px;
    height: 25px;
    background-color: red;
}

.telefon18
{
    float: left;
    width: 40%;
    height: 600px;
}
.guzik11
{
    text-align: center;
}
#potwierdzenie1
{
    opacity: 0;
}
#potwierdzenie1.potwierdzenieactive
{
    opacity: 1;
}

.inputBox3
{
    border-left: solid black 2px;
    border-bottom:solid black 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }